/* .wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
	} */
@keyframes move {
	from {
		margin-left: 1%;
		margin-top: 2%;
	}

	25% {
		margin-top: 10%;
	}

	50% {
		margin-left: 30%;
		margin-top: 5%;
		transform: rotate(2deg);
	}

	to {
		margin-left: 1%;
		margin-top: 2%;
	}
}

@keyframes move-bat {
	from {
		top:2%;
		left:10%;
	}

	25%{
		left:20%;
	}
	50% {
	top:10%;
		transform: rotate(30deg);
	}

	to {
	top:2%;
	left:10%;

	}
}



body {
	background-color: #033838;
	/* scroll-behavior: smooth; */
}
.container {
	height: 100vh;
	perspective: 2px;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: auto;
}
.container::-webkit-scrollbar {
	width: 0;
 }

.halloween-logo {
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 20vw;
	animation-name: move;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transition: 3s;
}

.halloween-logo:hover {
	opacity: 0.1;
	transition: 3s;
}

.bat {
	position: absolute;
	z-index: 3;
	animation-name: move-bat;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}




.parallax {
	position: absolute;
	z-index: 1;
	top: 0;
}


/* Коэффицент скейла можно посчитать по формуле 
1 + (translateZ * -1) / perspective). 
Например, если перспектива вьюпорта задана как 1px 
и мы смещаем элемент на -2px по оси Z, 
то коэффицентом будет scale(3) */

.image-4 {
	transform: translateZ(0);
}

.image-3 {
	transform: translateZ(-1px) scale(1.5);
}

.image-2 {
	transform: translateZ(-2px) scale(2);
}

.image-1 {
	transform: translateZ(-5px) scale(3.5);
}

.gallery {
	width: 80%x;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.gallery_image{
	display: inline-block;
	width: 20%;
	height: min-content;

}